@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Familjen+Grotesk:wght@400;600;700&display=swap');
body {
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
    color: #fff;
}

.bg-team-image {
    background-image: url(../img/teampic.jpg);
}