@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Familjen+Grotesk:wght@400;600;700&display=swap');
body {
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    position: relative;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    height: 100px;
}

.text h2 {
    position: relative;
    text-align: center;
    top: 50px;
}

.text h3 {
    position: relative;
    text-align: center;
    top: 550px;
}

.image {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 50x;
    width: 50%;
    padding: 0;
}