@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Familjen+Grotesk:wght@400;600;700&display=swap');
body {
    font-family: 'Familjen Grotesk', sans-serif;
    background: #fff;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    position: relative;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    height: 100px;
}

.carousel {
    position: relative;
    height: 70%;
    margin: 0 auto;
}

.carousel_image {
    position: fixed;
    margin: 0;
    height: 70%;
    width: 50%;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.carousel_track-container {
    background: rgb(0, 0, 0);
    width: 50%;
    height: 50%;
    position: relative;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button {
    position: absolute;
    top: 110%;
    height: 150px;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel_button--left {
    left: -200px;
}

.carousel_button--right {
    right: -200px;
}

.carousel_button img {
    width: 100px;
}

.carousel_nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #000;
    margin: 0 12px;
}