@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Familjen+Grotesk:wght@400;600;700&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
    color: #fff;
}

h1 {
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 15px;
}